:root {
  --color-back: #272b33;
  --color-text: #fff;
  --color-card-back: #3c3e44;

  --color-green: #55cc44;
  --color-red: #d63d2e;
}

* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

body {
  margin: 0;
  padding-block: 20px;
  padding-inline: 15px;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
  color: var(--color-text);
  background-color: var(--color-back);
}

button {
  margin: 0;
  padding: 10px 15px;
  font-family: inherit;
  color: var(--color-green);
  background-color: #272b33;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

.select-container {
  display: flex;
  align-items: center;
  column-gap: 10px;
  padding: 15px;
  background-color: #3c3e44;
  border-radius: 15px;
}

div:empty {
  display: none;
}
